<h1>overall progress</h1>
  <table class="progress-table">
	<% count = 0; %>
	<%  @atoms.each do |atom| %>

	<% if count == 0 %>
	  <tr>
	<% end %>

	     <td>
	     	<% if atom.ignore %>
		     	<%= link_to edit_atom_url(atom) do %>
		     		<%= image_tag "ignore.png" %>
		     	<% end %>
		    <% elsif !atom.completed %>
		      <%= link_to edit_atom_url(atom) do %>
		     		<%= image_tag "empty.png" %>
		     	<% end %>
		    <% elsif atom.success %>
		      <%= link_to edit_atom_url(atom) do %>
		     		<%= image_tag "succeed.png" %>
		     	<% end %>
		    <% else %>
		      <%= link_to edit_atom_url(atom) do %>
		     		<%= image_tag "fail.png" %>
		     	<% end %>
		    <% end %>

	     <div class="day"><%= atom.month + ' ' + atom.day.to_s %></div>
	  	 </td>

	<% if count == 3 %>
	   </tr>
	<% end %>

	<% count = (count + 1)%4 %>

	<% end %>

  </table>