<h1>commitment</h1>

<%= form_tag action: "action" do %>
  <div><p>How long is your goal?</p>
  <%= radio_button_tag :duration, "1", true %>
	<%= label_tag :duration_one, "One Month" %><br>
	<%= radio_button_tag :duration, "3" %>
	<%= label_tag :duration_three, "Three Months" %><br>
	<%= radio_button_tag :duration, "6" %>
	<%= label_tag :duration_six, "Six Months" %><br></div>
	<div></div><br>
	<div>
		<%= check_box_tag(:SUN) %>
		<%= label_tag(:SUN, "Su") %>
		<%= check_box_tag(:MON) %>
		<%= label_tag(:MON, "M") %>
		<%= check_box_tag(:TUE) %>
		<%= label_tag(:TUE, "Tu") %>
		<%= check_box_tag(:WED) %>
		<%= label_tag(:WED, "W") %>
		<%= check_box_tag(:THU) %>
		<%= label_tag(:THU, "Th") %>
		<%= check_box_tag(:FRI) %>
		<%= label_tag(:FRI, "F") %>
		<%= check_box_tag(:SAT) %>
		<%= label_tag(:SAT, "Sa") %>
	</div>
	<div><p>You're committing for ______, # days a week<p></div>
	<%= hidden_field_tag(:id, @goal.id) %>
  <%= submit_tag("Let's Do It") %>
<% end %>
<hr />
<%= link_to "Cancel", goals_url %>