<h1>commitment</h1>

<%= form_tag action: "action" do %>
  <div><p>How long is your goal?</p>
  <%= radio_button_tag :duration, "1", true %>
	<%= label_tag :duration_one, "One Month" %><br>
	<%= radio_button_tag :duration, "3" %>
	<%= label_tag :duration_three, "Three Months" %><br>
	<%= radio_button_tag :duration, "6" %>
	<%= label_tag :duration_six, "Six Months" %><br></div>
	<div></div><br>
	<div>
		<%= check_box_tag(:SU) %>
		<%= label_tag(:SU, "Su") %>
		<%= check_box_tag(:M) %>
		<%= label_tag(:M, "M") %>
		<%= check_box_tag(:TU) %>
		<%= label_tag(:TU, "Tu") %>
		<%= check_box_tag(:W) %>
		<%= label_tag(:W, "W") %>
		<%= check_box_tag(:TH) %>
		<%= label_tag(:TH, "Th") %>
		<%= check_box_tag(:F) %>
		<%= label_tag(:F, "F") %>
		<%= check_box_tag(:SA) %>
		<%= label_tag(:SA, "Sa") %>
	</div>
	<div><p>You're committing for ______, # days a week<p></div>
	<%= hidden_field_tag(:id, @goal.id) %>
  <%= submit_tag("Let's Do It") %>
<% end %>
<hr />
<%= link_to "Cancel", goals_url %>