<h1>my goals</h1>

<ul class="goals">
<% @goals.each do |goal| %>
<li>

<div class="action">Did you <i><%= goal.action %></i> today?</div>

<!--(%= link_to "Delete", goal_url(goal), method: 'delete' %)-->


<div class="success"><%= link_to "Yes", success_url(goal) %></div><div class="failure"><%= link_to "No", failure_url(goal) %></div><div class="progress"><%= link_to "Progress", goal %></div>
  
</li>
<% end %>
</ul>
<%= link_to "Add a New Goal", new_goal_url, class: "button" %>