<h1>my goals</h1>

<ul>
<% @goals.each do |goal| %>
<li>
Did you <b><%= goal.action %></b> today? (<%= link_to "Delete", goal_url(goal), method: 'delete' %>)
<%= link_to "Yes", success_url(goal) %> <%= link_to "No", failure_url(goal) %> <%= link_to "Progress", goal %> 
  
</li>
<% end %>
</ul>
<%= link_to "Add a New goal", new_goal_url %>