<!DOCTYPE html>
<html>
<head>
  <title>Goalkeeper</title>
  <link href='http://fonts.googleapis.com/css?family=Abel|Rokkitt' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "variables" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" %>
  <%= javascript_include_tag "//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js" %>
  <%= favicon_link_tag 'icon_greenNblack.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'icon_greenNwhite.png', :rel => 'shortcut icon', :type => 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
  <script>
  	// set the token so the video gets recorded to our app's Ziggeo server
  	ZiggeoApi.token = "8c2faaae2ed59ea9e49847eb95838870";
  	// handle the event when a video has been recorded
  	ZiggeoApi.Events.on("submitted", function(data) {
  		alert("Submitted a new video with token '" + data.video.token + "'!");
  	});
  </script>
</head>
<body>

<div id="core">

  <div class="header">
    <div class="header-logo">
      <%= link_to image_tag ("icon_greenNblack.png"), {:action => :feed} %>
    </div>
    <div class="header-title">
      <%= link_to "goalkeeper", :feed %>
    </div>
  </div>

<%= yield %>

</div>
<%= javascript_include_tag "application" %>
</body>
</html>
