<!DOCTYPE html>
<html>
<head>
  <title>Goalkeeper</title>
  <link href='http://fonts.googleapis.com/css?family=Abel|Rokkitt' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "variables" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" %>
  <%= javascript_include_tag "//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js" %>
  <script>
  	// set the token so the video gets recorded to our app's Ziggeo server
  	ZiggeoApi.token = "8c2faaae2ed59ea9e49847eb95838870";
  	// handle the event when a video has been recorded
  	ZiggeoApi.Events.on("submitted", function(data) {
  		alert("Submitted a new video with token '" + data.video.token + "'!");
  	});
  </script>
</head>
<body>

<div id="core">

<%= yield %>

</div>

</body>
</html>
