<!DOCTYPE html>
<html>
<head>
  <title>Goalkeeper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" %>
  <%= javascript_include_tag "//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js" %>
  <script>ZiggeoApi.token = "8c2faaae2ed59ea9e49847eb95838870";</script>
</head>
<body>

<%= yield %>

</body>
</html>
